unidecode
ipython
gspread
df2gspread
scikit-learn==0.22  
gender-guesser
numpy
pandas
regex
scipy
spanish_sentiment_analysis
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221